*, 
*::before,
*::after
{
  box-sizing: border-box;
}

*
{
  margin: 0;
  padding: 0;
}

main 
{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

/* esto es para ocultar el scroll lateral del parallax */
main::-webkit-scrollbar {
  display: none;
}

section 
{
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

section h1
{
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
}

.parallax p{
  text-align: left;
  justify-content: left;
}

.no-parallax p{
  text-align: center;
  justify-content: center;
}

.no-parallax 
{
  background-color: #588157;
  z-index: 999;
}

.parallax h1 
{
  width: 60%;
  font-size: 2rem;
}

.parallax::after 
{

  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}



.bg::after 
{
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../imgs/fondo\ parallax.jpg");
  background-size: cover;
}
/* paralax responsivo */
@media screen and (min-width: 768px) 
{
  section h1 
  {
    font-size: 8rem;
  }
  
  .parallax h1 
  {
    font-size: 4rem;
  }
}

iframe {
  display: block; /* Asegura que el video sea un elemento de bloque */
  margin: 0 auto; /* Centra el video horizontalmente */
  padding: 15px;
}



