*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #a3b18a;
}
/* colores y formato del navegador */
nav{
    background-color: #3a5a40;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 10%;
}

.header img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
    border-radius: 10px;
}

.header img:hover { 
    transform: scale(1.2);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #eeeeee;
}

nav a:hover{
    background-color: #588157;
    border-radius: 50px;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #4759941c;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

.not-active { 
    pointer-events: none; 
    cursor: not-allowed; 
} 


@media (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media (max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
