/* Estilos para los párrafos laterales */
.parrafo-lateral {
    width: 100%; /* Ajustar el ancho al 100% */
    display: flex;
    justify-content: center; /* Centrar horizontalmente el contenido */
}

.left {
    margin-right: auto; /* Mover el contenedor de texto a la izquierda */
}

.right {
    margin-left: auto; /* Mover el contenedor de texto a la derecha */
}

/* Media queries para hacer los párrafos laterales responsivos */
@media (max-width: 768px) {
    .parrafo-lateral {
        width: 50%; /* Reducir el ancho en pantallas más pequeñas */
    }
}

@media (max-width: 576px) {
    .parrafo-lateral {
        width: 90%; /* Ancho casi completo en pantallas aún más pequeñas */
        position: relative; /* Cambiar a posición relativa para que fluyan con el contenido */
        transform: none; /* Resetear transform */
        top: auto; /* Resetear posición superior */
        margin: 1rem auto; /* Ajustar margen para centrar */
        text-align: center; /* Centrar el texto */
    }
    
    .left, .right {
        position: static; /* Cambiar a posición estática para que fluyan con el contenido */
        width: auto; /* Ancho automático */
        margin-top: 1rem; /* Agregar margen superior para separación */
    }
}
/* Fin media queries para que sea responsivo
 */

.contenedor-texto {
    background-color: #f0f0f0; /* Color de fondo del contenedor */
    padding: 20px; /* Espacio alrededor del contenido */
    border: 1px solid #ccc; /* Borde del contenedor */
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(214, 7, 7, 0.1); /* Sombra */
    align-items: flex-start;
}

.contenedor-texto-right-principal {
    width: 50%;
    position: top;
    
}

